<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 mt-5" *ngFor="let item of loadCountry;index as i; ">
      <div class="card" [@bounceInLeftOnEnter]="{value:'', params:{delay:i*350}}" [@bounceOutLeftOnLeave]>
        <a routerLink="/{{item.name}}" >
          <img
            src="{{ item.flag }}"
            class="card-img-top"
            alt="{{ item.name }} flag"
          />
        </a>
          <div class="card-body">
            <h5 class="card-title">
              <strong>{{ item.name }}</strong>
            </h5>
            <p class="card-text">
              <strong>Population: </strong>{{ item.population }} 
            </p>
            <p class="card-text"><strong>Region: </strong>{{ item.region }}</p>
            <p class="card-text"><strong>Capital: </strong>{{ item.capital }}</p>
          </div>
      </div>
    </div>
</div>

<alert type="danger" *ngIf="loadCountry.length === 0">
    <strong>Oh snap!</strong>Change a few things up and try submitting again.
</alert>


<pagination *ngIf="loadCountry.length > 0" class="mt-5" [totalItems]="pagination.totalElement" [(ngModel)]="pagination.currentPage" (pageChanged)="paged($event)"  [maxSize]="maxSize"></pagination>
