.navbar{
    border-bottom:1px solid rgba(0,0,0,.2);
   
}


.nav-link{
    color:  hsl(200, 15%, 8%);
    font-weight: 600;
    border:none;
    background: #fff;
}

.nav-link:focus{
    outline: none;
}